<div class="container" style="length: 30%">
    <h1>Update Namelist</h1>
    <div class="border p-2">
        <form>
            <fieldset>
                <legend>Insert CSV file of namelist</legend>
    
                <div class="form-group">
                    <input type="file" class="form-control-file" placeholder="Input ID">
                </div>
                <submit class="btn btn-primary">Submit</submit>
            </fieldset>
        </form>
    </div>
</div>
